/*  your css code here. If applicable */
.g1,.g2,.g3{
	width:100px;
	height:50px;
	border:2px solid black;
	border-radius:25px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.toggle {
  accent-color: gray;   
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.toggle:checked {
  accent-color: green;  
}
